<h1>Button Mapping</h1>
<form class="example-form">
  <mat-form-field class="example-full-width" *ngFor="let button of buttons">
    <mat-label>Button {{button}}</mat-label>
    <input type="text"
           placeholder="Pick a Coin"
           aria-label="Button {{button}}"
           matInput
           [formControl]="buttonMapping"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let coin of filteredOptions | async"
                  [value]="coin.name"
                  matTooltip="{{coin.name}} ({{coin.symbol}})"
                  matTooltipPosition="right">
        <span>{{coin.name}} ({{coin.symbol}})</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
